// Colors...
//
$not-quite-black: #212529;
$somewhat-gray: #ADB5BD;
$slightly-off-white: #F8F9FA;

$primary: #E91E63;
$secondary: #E9A51E;

$danger: #D32F2F;
$warning: #F57C00;
$success: #388E3C;
$info: #0288D1;

$chrome-scrollbar-color: #F1F1F1;
$chrome-link-preview-color: #DEE1E6;
$chrome-incognito-color: #35363A;

// Fonts...
//
$font-family: unquote("Ubuntu, Roboto, Helvetica, Arial, sans-serif");

// Sizes...
//
$xs-size: 0;
$sm-size: 576px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;
$xxl-size: 1400px;

$max-mobile-size: $sm-size - 1px;
$min-tablet-size: $sm-size;
$max-tablet-size: $lg-size - 1px;
$min-desktop-size: $lg-size;

$card-width: 300px;

// Transitions...
//
$transition-duration: 150ms;
$transition-timing: ease-in-out;
